body {
    background: #FFFFFF;
    color: black;
    margin: 0px;
    width: 1040px;
    font: 12px Helvetica, sans-serif;

    text-decoration: none;
    text-align: left;
}

a { color: #233db3; text-decoration: underline; }
a:visited { color: #142365; text-decoration: underline;}
.skip { /* blind support */
    position: absolute;
    margin-left: -999px;
    width: 990px;
}

h1 {
    font-weight: normal;
    color: #777777;
    padding: 0.3em 0 0.2em 0;
    margin: 0;
    border-bottom: 1px;
}
h1 a {
    color: #652314; 
    text-decoration: underline;
}
h2 {
    font-weight: bold;
    letter-spacing: 0px;
    color:#666;
    padding-top: 25px;
    line-height: 30px;

}
h3, h4 { 
    font-weight: normal; 
}
h1, h3, h4, h5, h6 {
    color: #877;
}
.table {
    background: #bebebe;
    margin: 0 0 0.2em 1em;
    padding: 1px;
    border: 1px solid #808080;    
}
.td {
    padding-right: 1ex;
}

td.llogobanner {
	padding-right: "1px";
	width: 400px;
	white-space: nowrap;
	background-color: #0080E6;
	text-align: "left";
	vertical-align: "bottom";
}
td.rlogobanner {
	padding-right: "1px";
	width: 400px;
	white-space: nowrap;
	background-color: #0080E6;
	text-align: "right";
	vertical-align: "bottom";
}

p.logobanner {
    font-weight: bold;
    padding-left: 36px;
	color: #FFCC00;
	text-align: "right";
	vertical-align: "bottom";
	font-size: 30px;
}

td.submenu {
    padding-right: 1ex;
    vertical-align: top;
    font-size:16px;
    font-style: bold;
}

.th {
    text-align: left;
    padding-left: 1ex;
}


#container {
    margin: 0px;
    font-size: 10pt;
background: #ffffff;
}

#logohead {
    background: -8px -10px no-repeat #0080e6; /*fff8af*/
    height: 87px; 
    padding: 0px 0px;
    line-height: 10px;
    font-size: 10px;
    overflow: hidden;
    letter-spacing: +0px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#logohead td {
    padding-right: 1ex;
}



/* the left bar with page-dependent links */
#submenu {
background: no-repeat 5% 5px #fff;
    width: 190px; 
    width: 10em;
    height: 150px;
    float: left; 
    padding: 30px 0px 0px 20px;
    margin-bottom: -100%;
    margin-top: 0%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;    
}
#submenu ul {
    padding: 0px 0px 0px 10px;
    font-size: 14px;
}
#submenu ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 0.4em;
    margin-top: 0em;
    letter-spacing: 0;
    /*border-left: 1px solid silver;*/
}
#submenu ul li a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #808080;
}

.names {
    font-size: small;
    font-style: oblique;
    color: #06263D;
    padding: 0.5em;
}

.timeline {
    padding-top: 17px;
    border-right: 1px solid silver;

}

#main {
    background: #ffffff; 
    padding: 0px 30px 40px 40px;
    width: 550px;
    font-size: 10pt;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    line-height: 20px;

}
#main td {
    font-size: 10pt;
    font-family: "Helvetica Neue", Helvetica, sans-serif;    
    padding-right: -10px;
}
#main li {
    text-indent: 0em;
    margin-left: 1em;
    padding: 0cm 0em 0.5em 0cm
}

#main ul { list-style-image:url(uldot.png); }
